# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# database
*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal

# uploaded data (local dev)
data/
public/uploads/

# editors
.vscode/
.idea/
